* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

:root {
    --gold: #e7c566;
    --goldMidOpacity: #e7c566ad;
    --goldLowOpacity: rgba(212, 175, 55, 0.6);
    --white: rgba(255, 255, 255, .87);
    --whiteMidOpacity: rgba(255, 255, 255, 0.75);
    --whiteLowOpacity: rgba(255, 255, 255, 0.5);
    --headerTextColor: rgba(255, 255, 255, 0.8);
}

body {
    font-family: "Montserrat", sans-serif;
}

header {
    z-index: 999;
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding: .5rem 1.4rem;
    color: black;
    transform: translateY(-130%);
    animation: headerAnimation 1.7s ease forwards 100ms;
}

.header-bottom-line {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 93%;
    height: 1px;
    background: var(--whiteMidOpacity);
    top: 98%;
}

.header-logo {
    max-width: 100px;
}

.burger-menu-icon-container {
    height: 20px;
    width: 30px;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: space-between;
    cursor: pointer;
    position: relative;
    margin-bottom: .5rem;
}

.burger-menu-icon-top,
.burger-menu-icon-mid,
.burger-menu-icon-bottom {
    position: absolute;
    height: 2px;
    background: var(--whiteMidOpacity);
    display: block;
}

.burger-menu-icon-mid {
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
}

.burger-menu-icon-top,
.burger-menu-icon-bottom {
    width: 60%;
    transition: left 370ms ease;
}

.burger-menu-icon-top {
    top: 0;
    left: 0%;
}

.burger-menu-icon-bottom {
    bottom: 0;
    left: 39%;
}

.burger-menu-icon-top.active {
    left: 39%;
}

.burger-menu-icon-bottom.active {
    left: 0;
}

.header-nav {
    z-index: 999;
    position: absolute;
    width: 95%;
    height: 100vh;
    left: 50%;
    transform: translateX(-50%);
    top: 98%;
    background: var(--whiteMidOpacity);
    transform-origin: end;
    scale: 0 1;
    transition: scale 250ms ease;
    padding: 0 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.header-nav.active {
    scale: 1 1;
    transition: scale 370ms ease;
}

.header-nav-list,
.header-social-list {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
    opacity: 0;
    transition: opacity 350ms ease;
}

.header-nav-list.opacity,
.header-social-list.opacity {
    transition: opacity 500ms ease 280ms;
    opacity: 1;
}

.header-nav-list-item,
.header-social-list-item {
    height: 7.4vh;
    max-height: 80px;
    font-size: clamp(.8rem, 2.5vh, 1rem);
    display: flex;
    align-items: center;
}

.header-nav-list-item:active,
.header-social-list-item:active {
    color: var(--gold);
}

.header-nav-list-item {
    font-weight: 460;
    position: relative;
}

.header-social-list-item {
    gap: 0 7px;
    text-decoration: none;
}

.header-social-list-item.platform {
    display: flex;
    gap: 0 35px;
}

.header-social-list-item i.platform {
    font-size: clamp(1rem, 3.3vh, 1.5rem)
}

.header-nav-list-item.end {
    margin-left: auto;
}

.line-break {
    margin: 0 auto;
    width: 80%;
    height: 1px;
    background: rgba(0, 0, 0, .5);
    opacity: 0;
}

.line-break.active {
    transition: opacity 500ms ease 280ms;
    opacity: 1;
}

/* HERO SECTION */
.hero-section {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 1);
    opacity: .55;
    animation: fadeOverlay 2s ease forwards;
}

.image-slider-container {
    animation: zoomOut 1.8s ease forwards 100ms;
    position: absolute;
    left: 0;
    top: 0;
    scale: 1.35;
    bottom: 0;
    right: 0;
    display: flex;
    transition: transform 600ms ease;
}

.hero-imgae {
    min-width: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 15% 0px;
}

.container {
    z-index: 999;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container.hide {
    visibility: hidden;
}


.text,
.glowing-text-wrapper,
.hero-btn-group {
    z-index: 99;
    text-align: center;
}

.text,
.glowing-text-wrapper {
    margin-bottom: .85rem;
}

.glowing-text-wrapper {
    position: relative;
    transform: translateX(-120%);
    animation: glowingTextSlide 1.8s ease forwards 280ms;
}

.glowing-text {
    margin: 0 auto;
    color: var(--gold);
    text-transform: uppercase;
    font-size: clamp(2.3rem, 10.5vw, 2.65rem);
    font-weight: 450;
    width: 350px;
    line-height: 37px;

    animation:
        soft-glow 1.7s ease-in-out infinite 1.8s,
        glowingTextScale 2s ease infinite 1.8s
}

.glowing-text span {
    font-size: clamp(1.65rem, 7vw, 1.85rem);
}

.text {
    font-size: clamp(.8rem, 3.2vw, .85rem);
    font-weight: 300;
    color: var(--white);
    width: 330px;
    position: relative;
    transform: translateX(120%);
    animation: heroTextSlide 1.8s ease forwards;
}

.hero-btn-group {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin: .6rem 0;
}

.hero-btn {
    font-display: swap;
    font-size: .7rem;
    font-weight: 450;
    font-family: inherit;
    width: 35%;
    color: var(--white);
    background: rgba(0, 0, 0, 0.35);
    border: 1px solid var(--goldMidOpacity);
    padding: .55rem 0rem;
    box-shadow: 0 0 3px var(--goldLowOpacity);
    opacity: 0;
    animation: heroButtonAnimation 1.5s ease 1s forwards;
    cursor: pointer;
}

.hero-btn.active {
    background: var(--whiteMidOpacity);
    scale: 1.05;
}


.arrows-container {
    position: absolute;
    z-index: 999;
    width: 100%;
    padding: 0 1.3rem;
    transform: translateY(30%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    bottom: 2%;
    transform: translateY(160%);
    animation: arrowsContainerSlideUp 1.5s ease forwards 600ms;
}

.arrows-container.hide {
    visibility: hidden;
}

.arrow-circle {
    position: relative;
    width: 35px;
    height: 35px;
    border: 1px solid var(--whiteMidOpacity);
    border-radius: 50%;
    position: relative;
    color: var(--whiteMidOpacity);
    font-size: 1rem;
    font-weight: 300;
    cursor: pointer;
}

.arrow-circle.active {
    background: var(--goldMidOpacity);
    color: black;
}

.arrow-circle i {
    font-size: .8rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.image-positions-container {
    display: flex;
    gap: 12px;
}

.image-positon {
    display: block;
    width: 20px;
    height: 2px;
    /* border-radius: 50%; */
    background: var(--whiteMidOpacity);
}

.image-positon.active {
    background: var(--gold);
}

/* RESPONSIVE STYLES */
@media (min-width: 1200px) {

    /* HEADER */
    header {
        display: flex;
        justify-content: none;
        align-items: center;
        padding: .5rem 6rem 0 6rem;
        color: var(--headerTextColor)
    }

    .header-logo {
        width: 120px;
        max-width: unset;
    }

    .header-bottom-line {
        width: 88%;
        background: var(--whiteLowOpacity);
        top: 102%;
    }

    /* HEADER NAV */
    .header-nav {
        background: transparent;
        position: static;
        left: 0%;
        transform: none;
        flex-direction: column-reverse;
        padding: 0;
        margin-top: auto;
        gap: 35px 0;
        scale: 1 1;
        height: unset
    }

    /* HEADER NAV LISTS */
    .header-nav-list,
    .header-social-list {
        height: unset;
        justify-items: center;
        opacity: 1;
    }

    .header-nav-list {
        grid-template-columns: repeat(6, 1fr);
        margin-bottom: .2rem;
    }

    .header-social-list {
        grid-template-columns: repeat(4, 1fr);
    }

    /* HEADER NAV LIST ITEMS*/
    .header-nav-list-item,
    .header-social-list-item {
        padding: 0;
        font-weight: 340;
        cursor: pointer;
        height: unset;
        max-height: unset;
    }

    .header-nav-list-item:nth-child(5),
    .header-nav-list-item:nth-child(6) {
        justify-self: self-end;
    }

    .header-nav-list-item {
        font-size: 1rem;
    }

    .header-nav-list-item:hover {
        color: var(--gold);
    }

    .header-nav-list-item::after {
        content: '';
        position: absolute;
        display: none;
        width: 100%;
        height: 1.7px;
        background: var(--gold);
        bottom: -35%;
    }


    .header-nav-list-item:hover::after {
        display: block;
    }

    .header-social-list-item {
        font-size: .85rem;
    }

    .header-social-list-item:nth-child(-n + 3):hover {
        color: var(--gold);
    }

    .header-social-list-item.platform {
        justify-self: self-end;
    }

    .burger-menu-icon-container {
        display: none;
    }

    .line-break {
        display: none;
    }

    .header-social-list-item i.platform {
        font-size: 1.05rem;
    }

    .header-social-list-item i.platform:hover {
        color: var(--gold);
    }

    .header-social-list-item.platfrom {
        gap: 0 25px;
    }


    /* HERO SECTION */
    /* HERO SECTION */
    .hero-section {
        height: 100vh;
    }

    .image-slider-container {
        animation: zoomOut 1.9s ease forwards 200ms;
    }

    .hero-imgae {
        width: 100%;
        object-fit: unset;
        object-position: unset
    }

    .glowing-text-wrapper {
        transform: translateX(-220%);
        animation: glowingTextSlideMid 1.8s ease forwards 280ms;
    }

    .glowing-text {
        font-size: 4.3rem;
        width: max-content;
        line-height: 59px;


        animation:
            soft-glow 1.7s ease-in-out infinite 1.8s,
            glowingTextScale 2s ease infinite 1.8s
    }

    .glowing-text span {
        font-size: 3.2rem;
    }

    .text {
        font-size: 1.1rem;
        font-weight: 300;
        width: max-content;
        animation: heroTextSlideMid 1.9s ease forwards;
        transform: translateX(220%);
    }

    .hero-btn-group {
        gap: 25px;
    }

    .hero-btn {
        font-size: .85rem;
        width: 30%;
        padding: .65rem 0rem;
        background: rgba(0, 0, 0, 0.4);
    }

    .hero-btn:hover {
        background: var(--whiteMidOpacity);
        color: black;
    }

    .arrows-container {
        width: 150px;
        height: 80px;
        left: 85%;
        bottom: 3.5%;
    }

    .arrow-circle {
        width: 45px;
        height: 45px;
    }

    .arrow-circle:active {
        background: var(--goldMidOpacity);
        color: black;
    }


    .arrow-circle i {
        font-size: 1rem;
    }

    .image-positions-container {
        position: absolute;
        bottom: -5%;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        gap: 16px;
    }

    .image-positon {
        width: 25px;
    }

}

@keyframes swipeAnimation {
    0% {
        rotate: 0deg;
    }

    50% {
        rotate: -40deg;
    }

    75% {
        bottom: 140deg;
    }

    100% {
        bottom: 0deg;
    }
}

/* ANIMATIONS */
@keyframes arrowsContainerSlideUpMid {
    0% {
        bottom: -30%;
    }


    100% {
        bottom: 7%;
    }
}

@keyframes arrowsContainerSlideUp {
    0% {
        transform: translateY(160%);
    }


    100% {
        transform: translateY(0%);
    }
}

@keyframes heroTextSlide {
    0% {
        transform: translateX(120%);
    }


    100% {
        transform: translateX(0%);
    }
}

@keyframes heroTextSlideMid {
    0% {
        transform: translateX(220%);
    }

    100% {
        transform: translateX(0%);
    }
}

@keyframes glowingTextSlideMid {
    0% {
        transform: translateX(-220%)
    }


    100% {
        transform: translateX(0%)
    }
}

@keyframes glowingTextSlide {
    0% {
        transform: translateX(-120%)
    }


    100% {
        transform: translateX(0%)
    }
}


@keyframes heroButtonAnimation {

    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }

}

@keyframes soft-glow {

    0%,
    100% {
        text-shadow: 0 0 10px rgba(212, 175, 55, 0.4),
            0 0 15px rgba(212, 175, 55, 0.2);
    }

    50% {
        text-shadow: 0 0 25px rgba(212, 175, 55, 0.6),
            0 0 30px rgba(212, 175, 55, 0.4);
    }
}

@keyframes glowingTextScale {
    0% {
        scale: 1;
    }

    50% {
        scale: 1.05;
    }

    100% {
        scale: 1;
    }
}

@keyframes zoomOut {
    0% {
        scale: 1.35;
    }

    100% {
        scale: 1;
    }
}

@keyframes fadeOverlay {
    0% {
        opacity: .0;
    }

    100% {
        opacity: .55;
    }
}

@keyframes headerAnimation {
    0% {
        transform: translateY(-130%)
    }

    100% {
        transform: translateY(0%)
    }
}

@keyframes arrowsContainerSlide {
    0% {
        right: -30%;
    }


    100% {
        right: 8%;
    }
}